<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/static/main/styles.css'>
</head>
    <div id="header">
        <div id="menu">
            <a href="/" class="menu-link">Главная</a>
            <a href="/" class="menu-link">Чатик</a>
            <a href="https://github.com/UNDERBUFFER/qua🐸" class="menu-link">Код на Github</a>
            <a href="/" class="menu-link">Войти</a> <!-- на js если пользователь зашел заменить на имя -->
        </div>
    </div>
    <div id="left-panel">
        <a href="/" class="tag">Python</a>
        <a href="/" class="tag">JavaScript</a>
        <a href="/" class="tag">PHP</a>
        <a href="/" class="tag">Frontend</a>
        <a href="/" class="tag">ALL</a>
    </div>
    <div onmouseout="oldSchool()" onmouseover="changeFlow()" id="info"></div>
    <div id="questions-area">
        {{!-- TODO: tags in question --}}
        {{!-- <div class='question'>факs</div> --}}
        {{!-- <div class='question'>оу</div> --}}
        {{!-- <div class='question'>ещкере</div> --}}
    </div>
    <script>
        const memText = "QUA🐸 Traceback Flow😎"
        oldSchool()
        function oldSchool () {
            document.getElementById('info').innerText = memText
        }
        function changeFlow () {
            document.getElementById('info').innerText = memText.slice(0, -2) + '🙈'
        }
    </script>
    <script>
        const questionsArea = document.getElementById('questions-area')
        if (questionsArea.children.length == 0)
            questionsArea.innerText = "while questions don't exist ;( ..."
    </script>
</body>
</html>