<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/static/main/styles.css'>
</head>
    <div id="header">
        <div id="menu">
            <a href="/">Главная</a>
            <a href="/">Чатик</a>
            <a href="https://github.com/UNDERBUFFER/qua🐸">Код на Github</a>
            <a href="/">Войти</a> <!-- на js если пользователь зашел заменить на имя -->
        </div>
    </div>
</body>
</html>