<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/static/main/header.css'>
    <link rel='stylesheet' href='/static/chat/adding-message.css'>
    <link rel='stylesheet' href='/static/chat/message.css'>
</head>
    <div id="header">
        <div id="menu">
            <a href="/" class="menu-link">Главная</a>
            <a href="/chat" class="menu-link">Чатик</a>
            <a href="https://github.com/UNDERBUFFER/qua-frog" class="menu-link">Код на Github</a>
            <a href="/auth" class="menu-link" id="login-link">Войти</a>
        </div>
    </div>
    <div id="message-area">
        <textarea class="message-entity" name="message-text" id="message-text"></textarea>
        <button class="message-entity" id="message-send">
            <div id="message-send-text">></div>
        </button>
    </div>
    <div id="messages">
    </div>
    <script src="/static/auth/utils.js"></script>
    <script src="/static/chat/utils.js"></script>
    <script src="/static/chat/events.js"></script>
</body>
</html>