<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/static/main/header.css'>
    <link rel='stylesheet' href='/static/main/left-panel.css'>
    <link rel='stylesheet' href='/static/question/adding.css'>
    <link rel='stylesheet' href='/static/question/answer.css'>
    <link rel='stylesheet' href='/static/question/question.css'>
</head>
    <div id="header">
        <div id="menu">
            <a href="/" class="menu-link">Главная</a>
            <a href="/chat" class="menu-link">Чатик</a>
            <a href="https://github.com/UNDERBUFFER/qua🐸" class="menu-link">Код на Github</a>
            <a href="/auth" class="menu-link" id="login-link">Войти</a>
        </div>
    </div>
    <div id="left-panel">
        <form id="fact" action="" method="post"></form>
        <div class="answer-entity">Ваш ответ</div>
        <textarea name="text" class="answer-entity" form="fact"></textarea>
        <input type="submit" class="answer-entity" value="Отправить" form="fact">
    </div>
    <div id='questions-area'>
        <div id="question-title" class="question-entity"></div>
        <div id="question-text" class="question-entity"></div>        
    </div>
    <div id="answers-area">
        {{!-- <div class="answer"></div> <!--todo-->
        <div class="answer"></div> <!--todo-->
        <div class="answer"></div> <!--todo-->
        <div class="answer"></div> <!--todo-->
        <div class="answer"></div> <!--todo-->
        <div class="answer"></div> <!--todo-->
        <div class="answer"></div> <!--todo-->
        <div class="answer"></div> <!--todo--> --}}
    </div>
    <script src="/static/auth/utils.js"></script>
    <script src="/static/question/utils.js"></script>
</body>
</html>