
#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: gray;
    height: 80px;
    border: 4px solid black;
}

#menu {
    display: table;
    width: 100%;
    table-layout: fixed; 
}

.menu-link {
    color: white;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    top: 0px;
    display: table-cell;
    border: 3px solid darkslategray;
    height: 80px;
    text-decoration: none;
}

.menu-link:hover {
    background-color: hsl(160, 69%, 62%);
}
